/* Imports --------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Poppins:300,400,600,700');

/* Mixins ------------------------------------------------------------------ */
@mixin border-gradient($width, $style, $color1, $color2) {
	border-width: $width;
    border-style: $style;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from($color1), to($color2)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, $color1, $color2) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, $color1, $color2) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, $color1, $color2) 1 100%;
    border-image:
      linear-gradient(to top, $color1, $color2) 1 100%;
}

/* Variables --------------------------------------------------------------- */
$ltgray: rgb(238,238,238); // aka #eee
$gray: #444;
$dkgray: #232323;
$white: #fff;
$transparent-ltgray: rgba(238,238,238, .5); // aka #eee
$teal: #039589;
$lime: #a5b339;
$transparent-teal: rgba(3,149,137,.25);
$blue: #3a6a80;
$nav-bkg: $ltgray;
$footer-bkg: $ltgray;
$button-bkg: $teal;
$button-hover: $blue;
$shadow-sm: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-md: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-lg: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$open-sans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

/* General --------------------------------------------------------------- */

*{
	font-family: $open-sans;
}

.container{
	margin: auto;
	
}

/* Header --------------------------------------------------------------- */

.jumbotron.masthead{
	padding-top: 150px;
	background: url(../images/website-banner.jpg) no-repeat center center;
	background-size: cover;
	border-radius: 0;
	box-shadow: $shadow-sm;
}


/* Typography --------------------------------------------------------------- */

h1.text-light{
	text-shadow: $shadow-md;
}

h1{
	font-family: $poppins;
	color: $teal;
	font-weight: 600;
	text-transform: uppercase;
}
h4{
	font-family: $open-sans;
	color: $dkgray;
	font-weight: 400;
}
h2, h5{
	font-family: $poppins;
	color: $blue;
	font-weight: 600;
	margin: 15px 0;
}
h3, h6{
	font-weight: 400;
	font-family: $open-sans;
	font-style: italic;
	color: $teal;
}
p{
	line-height: 2.15;
	margin: 15px 0;
}
.left-home-margin{
	margin-left: -10px;
}
/* Navigation --------------------------------------------------------------- */

.navbar{
	background: $nav-bkg;
	box-shadow: $shadow-sm;
}
nav img{
	width: 200px;
	height: auto;
}
nav li a{
	font-weight: 600;
	color: $blue;
	letter-spacing: 0.025em;
	padding-bottom: 25px;
	border-bottom: 3px solid $blue;
}
nav li a:hover, nav li a.active{
	color: $teal;
	border-bottom: 3px solid $teal;
	transition: all 0.3s;
}
@media only screen and (max-width: 575px) { 
	// Remove underline in mobile toggle menu
	nav li a{
		font-weight: 600;
		color: $blue;
		letter-spacing: 0.025em;
		padding-bottom: auto;
		border-bottom: 0px solid $blue;
	}
	nav li a:hover, nav li a.active{
		color: $teal;
		border-bottom: 0px solid $teal;
		transition: all 0.3s;
	} 
}
/* Footer --------------------------------------------------------------- */

footer{
	background: $footer-bkg;
	width: 100%;
}
footer img{
	width: 35px;
	height: auto;
}
/* Links --------------------------------------------------------------- */
a {
	color: $teal;
	font-weight: 600;
	letter-spacing: 0.025em;
}
a:hover, a:active {
	color: $blue;
}

/* Buttons --------------------------------------------------------------- */

.fa{
	color: $teal;
}
.fa:hover{
	color: $white;
	background: $teal;
	transition: all 0.3s;
}
.social-link{
	padding: 3px;
	border-radius: 5px;
	width: 48px;
	border: .075em solid $teal;  
}

/* Widgets ----------------------------------------------------------------*/
.jumbotron.before-footer-widget {
	border-radius: 0;
	margin: 0;
	margin-top: 1em;
	width: 100%;
	background: $transparent-ltgray;
	color: $white;
}

.before-footer-button{
	border-width: 2px;
	margin-right: 10px;
	border-style: solid;
	border-color: $teal;
	background: $white;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: $teal;
	border-radius: 5px; // match border radius of social icons
	cursor: pointer;
}
.before-footer-button:hover{
	background: $teal;
	color: $white;
}
/* Resume ----------------------------------------------------------------*/
#resume h4{
	font-weight: 600;
	font-size: 1.2em;
	margin: 20px 0;
}
#resume h2{
	padding: 5px 0;
	margin-bottom: 20px;
	border-bottom: 3px solid $blue;
}

span.left {
            float: right;
            font-weight: inherit;
            font-style: italic;
        }

/* Form ----------------------------------------------------------------*/

#error{
	font-weight: 700;
	color: firebrick;
	letter-spacing: 0.025em;
}
.form-button, .button{
	border-width: 2px;
	margin-right: 10px;
	border-style: solid;
	border-color: $teal;
	background: $white;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: $teal;
	border-radius: 5px; // match border radius of social icons
}
.form-button:hover, .button:hover{
	background: $teal;
	color: $white;
}
form label{
	font-weight: 700;
	letter-spacing: 0.025em;
	font-family: $poppins;
	color: $blue;
}
/* Footer ----------------------------------------------------------------*/

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -400px;
  padding: 0 0 400px;
}

footer {
  height: 400px;
}
/* Card ---------------------------------------------------------------------*/
.card-shadow{
	box-shadow: $shadow-sm;
	border: 0;
	margin: 0;
}
.card-shadow:hover{
	box-shadow: $shadow-lg;
	transition: 0.3s cubic-bezier;
}
