/* Imports --------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Poppins:300,400,700");
/* Variables --------------------------------------------------------------- */
/* General --------------------------------------------------------------- */
* {
  font-family: "Open Sans", sans-serif; }

.container {
  margin: 1em auto; }

/* Header --------------------------------------------------------------- */
.jumbotron.masthead {
  padding-top: 150px;
  background: url(../images/website-banner.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* Typography --------------------------------------------------------------- */
h1.text-light {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/* Navigation --------------------------------------------------------------- */
.navbar {
  background: #eeeeee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

nav img {
  width: 225px;
  height: auto; }

@media only screen and (max-width: 576px) {
  nav img {
    width: 175px;
    height: auto; } }
/* Footer --------------------------------------------------------------- */
footer {
  background: #eeeeee;
  width: 100%; }

footer img {
  width: 35px;
  height: auto; }

/* Buttons --------------------------------------------------------------- */
.btn-primary {
  height: 45px;
  background: #039589;
  border: 1px solid #039589; }

.btn-primary:hover {
  height: 45px;
  background: #3a6a80;
  border: 1px solid #3a6a80; }

.social-link {
  margin-top: 7px; }
